
    <div class="navbar navbar-fixed-top menuH col-lg-12" id="header"> <!-- navbar-header -->
        <div class="pull-left"><img src="./assets/fotos/arg prog.png" alt="argprog" class="iconos" id="argprog"></div>
       <div class="pull-right"> <!-- navbar-header -->
          <span class="btn btn-default navbar-btn" id="twitter"><a href="https://twitter.com/?lang=es">Twitter</a></span>
          <span class="btn btn-default navbar-btn" id="insta"><a href="https://www.instagram.com/dru21_arg/?hl=es-la">Instagram</a></span>
      </div>
      </div> 
      <div class="row">
    <div class="container-fluid">
    <img src="./assets/fotos/52894-programacion.jpg" alt="foto sup" class="img-thumbnail" id="banner">
    </div>
      </div>

